doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet" href="index.scss")
div(style="width: 100vw; height: 100vh")
  #global(style="display: none")
  .reveal
    .slides
script(src="reveal-md.ts")